<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta charset="utf-8">
	{% load static %}
		<script src="{% static "jquery-1.9.1.js" %}"></script>
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
		<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	</head>
    <title>{% block title %}My amazing site{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body style="background-color: #f9f9f9">
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
